{% extends('AppDashboardBundle::base.html.twig') %}

{% block title %}ECMRS sharing (SAMBA){% endblock %}

{% block body %}

    <p>ECMRS is not shared. Click on button bellow to install SAMBA and share ECMRS sources.</p>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
